body {
    margin: 0;
}

html, body, .overnav-outer, .overnav-inner, .overnav-nav {
    height: 100%;
}

.overnav-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.overnav-inner {
    position: relative;
    width: 100%;

    left: 0 !important;
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
    backface-visibility: hidden;
}

.overnav-nav {
    z-index: 200;
    position: relative;
    overflow: hidden;
    width: 100%;
    color: #fff;

    position: absolute;
    top: 0;
    padding: 20px;
    box-sizing: border-box;

    height: 100%;
    width: 70%;
    background: #0a1c2d;

    backface-visibility: hidden;
    transform: translate3d(-100%, 0, 0);
    left: 0;
}

.overnav-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
}

.overnav-nav li {
    display: block;
    padding: 0 0 22px;
}
.overnav-nav li:first-child {
    padding-top: 22px;
}

.overnav-nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'bignoodletitling';
    text-transform: uppercase;
}

.overnav-nav img {
    display: inline-block;
}

.overnav-nav > ul {
    display: block;
}
.overnav-nav > ul > li > a {
    font-size: 33px;
    line-height: 39px;
    vertical-align: top;
    padding-top: 14px;
}

.overnav-nav .sub-nav-open > ul {
    display: block;
    border-top: solid 4px #80c8c2;
    border-bottom: solid 4px #80c8c2;
    margin-left: 40px;
}
.overnav-nav .sub-nav-open > ul a {
    font-size: 28px;
    position: relative;
}
.overnav-nav .sub-nav-open > ul a:before {
    content: '';
    width: 6px;
    height: 12px;
    background-image: url('../images/sub-nav-item.png');
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-right: 8px;
}

.overnav-nav .toggleSubNav {
    float: right;
}

.overnav-nav .toggleSubNav .open {
    display: none;
}
.overnav-nav .toggleSubNav .close {
    display: block;
}

.overnav-nav .sub-nav-open .toggleSubNav .open {
    display: block;
}
.overnav-nav .sub-nav-open .toggleSubNav .close {
    display: none;
}

.js-nav .overnav-inner {
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
}

.overnav-close {
    float: right;
}

.overnav-title {
    font-family: 'bignoodletitling';
    font-size: 33px;
}